:root{
    --orange-color: orangered;
    --x-padding: 180px;
    --searchbar-h: 40px;
    --img-border-radius: 12px;
    --modal-x-padding: 154px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--orange-color);
    outline: none;
}
p{
    line-height: 1.7;
    color: #4c4c4c;
    font-size: 15px;
}
img{
    display: block;
}
.w-100{
    width: 100%;
}
input:focus{
    outline:none;
}
header{
    /* background: #0046be; */
    /* box-shadow: 0 1px 1.25px 0 rgb(32 33 36 / 28%); */
    /* position: sticky; */
    /* top: 0; */
    z-index: 10;
}
.navigation-bar{
    background: white; /* #003da6, rgb(63.75 63.75 63.75)*/
    padding: 10px var(--x-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    width: 100%;
    height: 45px;
    fill: orangered;
}
.nav-button-container{
    display: none;
}
.nav-button-container button{
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 0.25rem;
    color: rgba(255,255,255,.55);
    transition: box-shadow .15s ease-in-out;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.nav-links_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 100%; */
}
.nav-link{
    display: inline;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: .25px;
    line-height: 1.85714;
    position: relative;
}
.nav-link a{
    color: inherit;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    padding: 4.5px 18px;
    position: relative;
}
/* .nav-link:first-of-type a{
    padding-left: 0;
} */
.nav-dropdown a::after{
    content: "";
    position: absolute;
    top: calc(50% - 4.5px);
    right: -4px;
    width: 11px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.20288 2.11011L5.37476 6.82498C5.41035 6.86522 5.46148 6.88825 5.51519 6.88825C5.56891 6.88825 5.62004 6.86522 5.65563 6.82498L9.82788 2.11011' stroke='orangered' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: cover;
    display: inline-block;
    transform-origin: center center;
    transition: transform 0.25s ease-in 0s;
    vertical-align: middle;
}
.nav-link:hover a::after{
    transform: rotate(45%);
}
.nav-dropdown-content{
    display: none;
    position: absolute;
    left: 0;
    top: 49.1px;
    background: var(--orange-color);
    box-shadow: 0 0.1rem 0.4rem 0 rgb(50 50 50 / 50%);
    /* border-bottom: 1px solid var(--orange-color); */
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;
}
.nav-content__display{
    display: block !important;
}
.nav-dropdown-content li{
    padding: 8px 18px;
}
.nav-dropdown-content li:hover{
    background-color: rgb(255 255 255 / 30%);
    /* background-color: #777a7d; */
}
.searchbar__form-container{
    display: none;
    align-items: center;
}
.navigation-bar form{
    align-items: center;
    height: 40px;
    background-color: #eee;
    border-radius: 3px;
}
.navigation-bar form:focus-within{
    box-shadow: 0 0 8px rgb(0 0 0 / 6%), 0 8px 8px rgb(0 0 0 / 12%);
    background-color: rgba(255 255 255 / 40%); 
}
.search-icon-container{
    display: flex;
    align-items: center;
}
.search-icon{
    fill: #eee;/*rgb(255 255 255 / 15%)*/
    height: 18px;
    width: 18px;
    margin-left: 10px;
}
.search-icon:hover{
    fill: white;
}
.searchbar-dropdown{
    height: var(--searchbar-h);
    width: 56px;
    padding: 0 10px;
    border-width: 0px;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
    color: white;
}
.searchbar-dropdown:focus{
    color: black;
}
.searchbar-dropdown:focus-visible{
    outline: 0;
}
.searchbar {
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid transparent;
    background-color: transparent;
    width: 360px;
    height: var(--searchbar-h);
    border-radius: 0;
    color: black;
}
.searchbar::placeholder{
    color: rgba(255, 255, 255, .7);
}
.searchbar:focus-visible{
    outline: 0;
}
.searchbar-submit{
    padding: 0 12px;
    height: var(--searchbar-h);
    border-width: 0px;
    border-radius: 0 3px 3px 0;
    background-color: transparent;
}
.searchbar-submit>div{
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    height: 16px;
}
.searchbar-submit>div>svg{
    fill: #FFF;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.tools-container{
    color: wheat;
    font-size: 14px;
    font-style: italic;
}
.switch-text_container{
    height: 14px;
    overflow-y: hidden;
}
.switch-text_container li{
    line-height: 1;
    transition: transform .75s ease;
}
.switch-toggle .nav-links_container{
    display: none;
}
.switch-toggle .searchbar__form-container{
    display: flex;
}
.switch-toggle .switch-text_container li{
    transform:translate3d(0,-100%,0);
}
.vertical-divider{
    opacity: 0.4;
    display: inline;
    border-right: 1px solid rgb(207, 216, 220);
    height: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    align-self: center;
}
.account-container{
    position: relative;
}
.account-icon-container{
    display: flex;
    align-items: center;
    height: 100%;
}
.account-icon{
    fill: #eee;/*rgb(255 255 255 / 15%)*/
    margin-left: 10px;
}
.account-icon:hover{
    fill: white;
}
.coronavirus-danger{  
    /* background-image: repeating-linear-gradient(135deg,orangered,orangered 7px,yellow 7px,yellow 14px,orangered 14px,orangered 21px,yellow 21px,yellow 28px); */
    background-color: #eee;
    width: 100%;
    /* height: calc(100% - 10px); */
    display: flex;
    justify-content: center;
    transition: transform 1s ease;
    position: absolute;
    z-index: -10;
}
.header-banner{
    padding: 7px calc(var(--x-padding) - 5px);
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 5px;
}
.header-banner p{
    margin: 0;
    text-align: center;
    /* display: flex; */
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(63.75 63.75 63.75);
    letter-spacing: 1.2px;
}
.header-banner a{
    text-decoration: underline;
    font-weight: bold;
    margin-left: 0.5rem;
    color: inherit;
}
.corona__close-button{
    background-color: rgba(62.73 62.73 62.73 /0.15);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
/* .corona__close-button:hover{
    background-color: rgba(255, 255, 255, 0.15);
} */
.corona__close-button svg{
    transition: color 1s ;
}
.corona__close-button:hover svg {
    fill: rgb(62.73 62.73 62.73);
}
.header-banner svg{
    fill: white;
    height: 14px;
}
.text-white{
    color: white;
}
.text-underline{
    text-decoration: underline;
}
.alert__slide-up{
    transform: translateY(-90px);
}
main{
    padding: 60px 0 0 0;
    position: relative;
}
.g-padding{
    padding-left: var(--x-padding);
    padding-right: var(--x-padding);
}
.article_container{
    padding-top: 80px;
    padding-bottom: 52.26px;
}
.breadcrumbs {
    max-width: -webkit-max-content;
    max-width: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.breadcrumbs-link{
    color: #a0a0a0;
    display: inline;
    font-size: 12px;
    line-height: 20px;
    margin-left: 3px;
    position: relative;
}
.breadcrumbs-link:first-of-type{
    margin-left: 0;
}
.breadcrumbs-link:not(:last-child) {
    padding-right: 14px;
}
.breadcrumbs-link:not(:last-child):after {
    border-bottom: 1px solid;
    border-right: 1px solid;
    content: "";
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    width: 6px;
}
h1{
    /* font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 1.335rem; */
    font-size: 2.75rem;
    /* font-weight: 400; */
    line-height: 3.25rem;
    margin-top: 1.335rem;
    letter-spacing: 0;
}
.article>div:first-of-type{
    padding-bottom: 15px;
}
.image-frame{
    position: relative;
}
.image-frame img{
    border-radius: var(--img-border-radius);
}
.image-caption{
    right: 0;
    background-color: rgba(0,0,0,.7);
    bottom: 0;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    font-size: .625rem;
    border-bottom-right-radius: var(--img-border-radius);
}
.border-bottom{
    border-bottom: 1px solid #ebebeb;
}
button.primary, .button.primary, a.button.primary {
    color: #fff !important;
    background: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 4px;
}
.wth-question{
    padding: 20px 0;
    margin: 40px 0;
}
.subscribtion-container{
    background-image: linear-gradient(to right,#006B67,#0F3F82);
    padding: 62px var(--x-padding);
    /* overflow: hidden; */
    position: relative;
}
.subscribtion-container h2{
    color: white;
    font-size: 39px;
    margin: 20.6px 0;
    letter-spacing: 2px;
}
.subscribtion-container>div{
    margin-bottom: 20.6px;
    transition: border-color .25s;
}
.subscribtion-container>div:hover{
    border-color: white;
}
.subscribtion-animate{
    border: 1px solid rgb(101 116 115);
    border-radius: 28.165px;
    width: fit-content;
    padding: 6px;
}
.subscribtion-form{
    display: flex;
}
.subscribtion-input{
    background-color: transparent;
    color: white;
    border: 0;
    padding-left: 16px;
    width: 174px;
    transition: 1s width ease, 1s padding ease;
}
.subscribtion-input::placeholder{
    color: white;
}
.subscribe-button{
    background-color: white;
    color: black;
    padding: 12px 24px;
    border: 0;
    border-radius: 20px;
    display: inline-flex;
    text-align: center;
    box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
}
.subscribe-button img{
    display: none;
    margin-left: 6px;
    fill: orangered;
}
.subscribed .subscribtion-input{
    width: 0;
    padding: 0;
}
.subscribed .subscribe-button img{
    display: inline;
}
.subscribtion-logo{
    position: absolute;
    top: 63%;
    right: 0;
    width: 180px;
    z-index: 9;
}
footer {
    /* padding-top: 82.6px; */
    padding-bottom: 16px;
    background-color: #f5f5f5;
}
.footer-nav{
    display: flex;
    width: 100%;
    padding-bottom: 82.5px;
    padding-top: 82.6px;
}
.footer-nav ul{
    width: 25%;
}
footer h4{
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    margin-bottom: 19px;
    letter-spacing: 0.5px;
}
footer ul a{
    display: block;
    color: #555;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    padding: 8px 0;
    /* margin-bottom: 0.5em; */
}
.copyright{
    margin: 32px 0 16px;
    font-size: 12px;
}
.secondaryLinkListContainer_2YLUZ {
    color: #55555a;
    font-size: 10px;
    padding-bottom: 16px;
    margin: 0 auto;
    /* padding: 14px 0; */
    border: none;
    border-top: solid 1px #ccc;
    margin-top: 40px;
}
.secondaryLinkList_2Ptfc {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}
.secondaryLinkListContainer_2YLUZ .secondaryLinkList_2Ptfc li {
    font-size: inherit;
    margin-bottom: 0;
    padding-left: 0;
}
.secondaryLinkList_2Ptfc a {
    color: #1d252c;
    margin-right: 8px;
    line-height: 24px;
    font-size: 12px;
    text-decoration: underline;
}
.secondaryLinkList_2Ptfc li:first-of-type a:before {
    content: "";
    padding-right: 0;
}
.secondaryLinkList_2Ptfc a:before {
    color: red;
    content: "|";
    padding-right: 8px;
}
.hire-authorbox{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
}
.hire-authorbox.modal-open{
    display: flex;
}
.hire-authorbox.modal-closed{
    display: none;
}
.close-flag{
    position: absolute;
    top: 0;
    right: 30px;
    background-color: grey;
    padding: 120px 15px 30px;
}
.close-flag svg{
    fill: white;
    height: 14px;
}
.modal{
    background-color: white;/* rgba(191 191 191/0.8)*/
    /* color: white; */
    border-radius: 3px;
    width: 600px;
    height: fit-content;
    box-shadow: 0 0 16px rgb(0 0 0 / 12%), 0 16px 16px rgb(0 0 0 / 24%);
}
.modal form{
    position: relative;
}
.hire-authorbox h1{
    font-size: 31.2px;
    line-height: 37.5px;
    margin: 0;
}
.hire-authorbox .yx-gm{
    color: rgba(0,0, 0, .6);
    margin: 0;
    font-size: 14px;
}
.modal-content{
    padding: 60px var(--modal-x-padding);
}
.modal-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.hire-authorbox input{
    width: 100%;
    padding: 12px;
    background-color: #eee;
    border: none;
    border-radius: 2px;
    color: black;
    font-size: 12px;
}
.modal-span-box{
    display: block;
    font-size: 12px !important;
    margin-top: 30px;
    line-height: 1.55;
}
.modal-span-box>* {
    display: block;
}
.forgot-password{
    /* display: block; */
}
/* .modal-span-box span{
    display: block;
    margin-top: 10px;
} */
.padding-md{
    padding: 20px var(--modal-x-padding);
}
.hire-button{  
    --transition-duration: .4s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(62.73 62.73 62.73 /0.15);
    border: none;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: var(--color-contrast-higher);
    text-decoration: none;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: var(--transition-duration);
}
.hire-button:hover{
    background-color: grey;
    color: white;
}
/* RESPONSIVENESS */
@media only screen and (max-width: 1035px){
    :root{
        --x-padding: 90px;
    }
    .searchbar{
        width: 240px;
        height: 40px;
    }
    .authentication-modal.mini{
        display: none;
    }
}
@media only screen and (max-width: 991.98px){
    :root{
        --x-padding: 60px;
    }
}
@media only screen and (max-width: 767.98px){
    :root{
        --x-padding: 30px;
        --modal-x-padding: 30px;
    }
    .nav-links_container{
        padding-top: 16px;
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation-bar{
        flex-direction: column;
    }
    .nav-button-container{
        display: block;
    }
    .nav-link{
        width: 100%;
    }
    .nav-link a{
        padding: 8px 0;
    }
    .nav-dropdown a::after{
        right: 0;
    }
    .nav-dropdown-content{
        position: static;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .navigation-bar form{
        width: 100%;
        margin: 10px 0 0;
    }
    .searchbar{
        width: 100%;
    }
    .close-flag{
        padding-top: 90px;
    }
}
@media only screen and (max-width: 600.98px){
    :root{
        --x-padding: 20px;
    }
    .switch-toggle .nav-links_container{
        display: flex;
    }
    .searchbar__form-container{
        display: flex;
    }
    .tools-container{
        padding: 18px 0 8px;
    }
    .header-banner p{
        /* flex-direction: column; */
        padding: 0 10px;
    }
}
@media only screen and (max-width: 575.98px){
    .nav-link{
        width: 100%;
    }
    .nav-link a{
        padding: 8px 0;
    }
    .nav-dropdown a::after{
        right: 0;
    }
    .nav-dropdown-content{
        position: static;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .navigation-bar form{
        width: 100%;
        margin: 18px 0 0;
    }
    .hire-authorbox>div{
        width: calc(100vw - (2*var(--x-padding)));
    }
}
@media only screen and (max-width: 467.98px){
    :root{
        --x-padding: 16px;
    }
    main{
        /* padding: 0; */
    }
    .subscribtion-container h2{
        text-align: center;
    }
    .subscribtion-animate{
        width: 100%;
    }
    .subscribtion-animate.subscribed{
        width: fit-content;
    }
    .subscribtion-input{
        width: 100%;
    }
    .subscribtion-logo{
        top: 79%;
        /* right: -79px; */
        right: 0;
    }
    footer{
        padding-top: calc(82.6px - 1.33em);
        padding-bottom: 0;
    }
    .footer-nav{
        display: block;
    }
    .footer-nav ul{
        width: 100%;
    }
    .copyright{
        text-align: center;
    }
    .secondaryLinkList_2Ptfc{
        justify-content: center;
    }
}